.clearing {
    clear: both;
    height: 1px;
    overflow: hidden;
}

#page {
    width: 90%;

}


 input[type=text], select {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
 }

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
}

p.serif {
    font-family: "Times New Roman", Times, serif;
}

#logo{
    width: 40%;
    height: 65px;
    background: url('imagen/logo.jpg') no-repeat;
    background-size: 40% 55px;
    background-position: 10px 10px ;
}

#header {
    width: 90%;
    height: 80px;
    background: -webkit-linear-gradient(#6FCBDC, #3DBBD3, #109EB8);
    background: -o-linear-gradient(#6FCBDC, #3DBBD3,#109EB8);
    background: -moz-linear-gradient(#6FCBDC, #3DBBD3, #109EB8);
    background: linear-gradient(#6FCBDC,#3DBBD3, #109EB8);
    background-color: #3DBBD3;
}


/* footer */

#footer {
    background: -webkit-linear-gradient(#6FCBDC, #3DBBD3, #109EB8);
    background: -o-linear-gradient(#6FCBDC, #3DBBD3,#109EB8);
    background: -moz-linear-gradient(#6FCBDC, #3DBBD3, #109EB8);
    background: linear-gradient(#6FCBDC,#3DBBD3, #109EB8);
    background-color: #3DBBD3;
    width: 90%;
    height: 80px;
    text-align: center;
    color: white;
    margin-right: 40px;
    margin-top: 90px;
}


